<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="services/update" method="post">
    <fieldset>
        <legend>Service</legend>
        <div class="form-group">
            <input type="hidden" name="id" id="id" value="{{service.getId()}}">
            <input placeholder="Entrez un nom" type="text" class="form-control" name="nom" id="nom" value="{{service.getNom()}}">
            <input placeholder="Enrez un prix" type="number" class="form-control" name="prix" id="prix" value="{{service.getPrix()}}">
            <textarea rows="5" class="form-control" name="description" id="description">{{service.getDescription()}}</textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Valider</button>
        </div>
    </fieldset>
</form>
</body>
</html>